<div class="container">
	<div class="column">
		<h2>Alle Lottoscheine</h2>

		<div *ngIf="lottoschein.id">
			<button (click)="back()">Zurück zur Übersicht</button>
			<app-lottoschein [lottoschein]="lottoschein"></app-lottoschein>
		</div>

		<div *ngIf="!lottoschein.id" class="lottoscheine">
			<button *ngFor="let lottoschein of lottoscheine" (click)="display(lottoschein)">
				Lottoschein {{ lottoschein.id }}
			</button>
		</div>
	</div>

	<div [ngClass]="lottoschein.id ? '' : 'column'">
		<h2>Globale Häufigkeitsverteilung</h2>

		<div class="distribution">
			<span *ngFor="let item of distribution; let i = index">
				{{ item }}
			</span>
		</div>
	</div>
</div>
